body {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: #aec6cf;
  font-family: 'Lato', sans-serif;
  overflow: visible;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#seconds::after {
  content: ' seconds';
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 2.5% 0 2.5%;
  width: 95%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.hint {
  align-self: flex-start;
}

.mwl {
  align-self: flex-end;
  margin-left: auto;
}




.timer {
  font-size: 10vh;
  cursor: default;
}

.sub {
  cursor: default;
}